config 'main'
	option	'cache_size'		'50'
	option	'table_size'		'1024'
	option	'dir_refresh'		'60'
	option	'file_refresh'		'1'
	option	'delay_upload'		'10'
	option	'debug'			'' #debug opts, comma separated
	option	'use_proxy'		'0'
	option	'proxy'			'' #addres:port
	option	'ask_auth'		'0' #enable, if you have not server certificate
	option	'use_locks'		'1'
	option	'lock_timeout'		'1800'
	option	'lock_refresh'		'60'
	option	'use_expect100'		'0'
	option	'if_match_bug'		'0'
	option	'drop_weak_etags'	'0'
	option	'allow_cookie'		'0'
	option	'precheck'		'0'
	option	'server_charset'	'UTF-8'
	option	'connect_timeout'	'10'
	option	'read_timeout'		'30'
	option	'retry'			'30'
	option	'max_retry'		'300'
	option	'max_upload_attempts'	'15'

config 'mount'	'service1' #<-- name of your service,example
	option	'url'		'your_url'
	option	'user'		'user'
#	option	'clientcert'	''
#	option	'servercert'	''
	option	'password'	'pass'
	option	'mountpoint'	'/mountpnt'
