config main
	option	ssdp_interface			'br-lan'
	option	ssdp_loop			'1'
	option	ssdp_notify_interval		'15'
	option	ssdp_max_age 			'1800'
	option	http_port			'4044'
	option	debug				'1'
	option	udpxy_url			''
	option	mcast_interface			'eth1'
	option	proxy				'2'
	option	user_agent			'Mozilla/5.0'
	option	http_timeout			'30'
	option	dlna_notify			'1'
	option	group				'1'
	option	sort_files			'0'
	option	name				'UPnP-IPTV'
	option	uuid				'60bd2fb3-dabe-cb14-c766-0e319b54c29a'
	option	cache_size			'8'
	option	cache_ttl			'900'
	option	default_mime_type		'mpeg'
	option	feeds_update_interval		'0'
	option	playlists_update_interval	'0'
	option	drive 				''

config playlist 'pls1'
	option	name	'Local Media Files'
	option	path	'./localmedia'
	option	iplist	''

config feed	'feed1'
	option	plugin		'vimeo'
	option	feed_type	'channel/hd'
	option	feed_name	'Vimeo HD Channel'

config feed	'feed2'
	option	plugin		'youtube'
	option	feed_type	'channel/top_rated'
	option	feed_name	'YouTube Top Rated'

config advanced
	option	container	'object.container'
	option	artist		'0'
	option	feature_list	''
	option	albumart	'0'
	option	dlna_headers	'1'
	option	dlna_extras	'1'
	option	content_disp	'0'
	option	soap_length	'1'
	option	wdtv		'0'
	option	sec_extras	'1'
